{# ShoeStore/Table/list.html.twig #}
{% extends 'base2.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Shoe Listing</h1>
        {{ form(form) }}
        <table class="table table-bordered table-striped">
            {% for shoeStore in shoeStores %}
                <tr>
                    <td>{{ shoeStore.store }}</td>
                    <td>{{ shoeStore.priceCurrency }}</td>
                    <td>{{ shoeStore.shoe.codeColor }}</td>
                    <td>{{ shoeStore.shoe.name }}</td>
                    <td>{{ shoeStore.shoe.color }}</td>
                </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}
